.fieldError {
	background-color: #ff8080;
}
/*
@font-face{
   font-family:HuiFontP109;
   src:
   url(/css/fonts/HuiFontP109.ttf) format('truetype')
}

.huifont{font-family:HuiFontP109}
*/
.button-area {
	margin: 10px;
}

/* ボード画面 */
.ql-size-small {
  font-size: 0.75em;
}
.ql-size-large {
  font-size: 1.5em;
}
.ql-size-huge {
  font-size: 2.5em;
}

.desc p {
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.mynav {
	background-color: #17a2b8;
	color: white;
}

.btn-open {
	background-color: #0066cc;
	color: white;
}

.btn-open:hover {
	background-color: #003399;
	color: white;
}

.btn-delete {
	background-color: #ff9933;
	color: white;
}

.btn-delete:hover {
	background-color: #cc6600;
	color: white;
}

.btn-adminBoard {
	background-color: #009966;
	color: white;
}

.btn-adminBoard:hover {
	background-color: #006633;
	color: white;
}

.btn-adminUser {
	background-color: #003366;
	color: white;
}

.btn-adminUser:hover {
	background-color: #000066;
	color: white;
}


}